.App {
  text-align: center;
  background-color: blue;
}

h1 {
  color: #F9DE2F;
  text-align: center;
  font-family: cursive;
}

h2 {
  color: #F9DE2F;
  text-align: center;
  font-style: italic;
  font-weight: lighter;
}

input {
  text-color: blue;
  width: 60%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  height: 30px;
  border-radius: 5px;
  border-color: #F9DE2F;
  border-width: 3px;
  border-style: solid;

}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
